<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-1.12.3.min.js'></script>
    <script src='/javascripts/ajax-functions.js'></script>
    <script>
    function createStream() {
      var field = $('._streamName');
      var name = field.val();

      postCreateStream(field.val(), function(result) {
        location.reload();
      }, function(error) {
        alert('Failed: '+JSON.stringify(error));
      });
    }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>
      <input type="text" placeholder="Stream name" class="_streamName" />
      <button onclick="javascript:createStream(); return false;">Create Stream</button>
    </p>

    <% if(streams.length == 0) { %>
      <p><em>No streams yet...</em></p>
    <% } else { %>
      <table>
        <tr>
          <th>Stream Name</th>
        </tr>

        <% for(var i=0; i<streams.length; i++) {%>
        <tr>
          <td><%= streams[i].name %></td>
        </tr>
        <% } %>
      </table>
    <% } %>
  </body>
</html>
