<!DOCTYPE html>
<html>
  <head>
    <title>Ocean</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-1.12.3.min.js'></script>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous" />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ocean</a>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Ocean.</h1>
        <p>We spend time helping your digital creations communicate so you don't
          have to.</p>
        <p>Ocean provides lightweight, dead-easy, instant message queues to safely,
          reliably, and instantly ferry information between your devices and web apps.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">
          Get started in 23 seconds</a></p>
        <p><a href="#">See some examples of how Ocean helps web apps and devices
          communicate.</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">What are you trying to do today?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h3>Connect physical devices</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a class="btn btn-default" href="#" role="button">Get
            Started</a></p>
        </div>
        <div class="col-md-4">
          <h3>Connect web applications</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a class="btn btn-default" href="#" role="button">Get
            Started</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p class="text-center">Ocean was created in 2016.</p>
      </footer>
    </div>

  </body>
</html>
